@import url("https://fonts.googleapis.com/css2?family=Recursive:slnt,wght,CASL,CRSV,MONO@-15..0,300..1000,0..1,0..1,0..1&display=swap");


/* Prevent padding and border from affecting element width. */
*, ::before, ::after {
    box-sizing: border-box;
}

/* Remove the margin in all browsers */
body {
    margin: 0;
    padding: 0;
    line-height: inherit;
    background-color: navy;
    color: orchid;
    display: flex;
    justify-content: center;
    align-items: center;
}

#text {
    font-family: "Recursive", sans-serif;
    margin: 10%;
    font-size: 72px;
    transition: all 0.1s ease;
}
