@font-face {
    font-family: "Kablammo";
    src: url('https://storage.googleapis.com/atoms-sandbox.google.com.a.appspot.com/Kablammo%5BMORF%5D.woff2') format('woff2'),
         url('https://storage.googleapis.com/atoms-sandbox.google.com.a.appspot.com/Kablammo%5BMORF%5D.ttf') format('truetype');
  }

/* Prevent padding and border from affecting element width. */
*, ::before, ::after {
    box-sizing: border-box;
}

/* Remove the margin in all browsers */
body {
    margin: 0;
    padding: 0;
    line-height: inherit;
    background-color: hsl(197, 58%, 17%);
    color: #ffd146;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes morph {
    50% {
      font-variation-settings: "MORF" 60;
    }
}    

#text {
    font-family: "Kablammo"; 
    margin: 10%;
    font-size: 72px;
    transition: all 0.1s ease;
    font-variation-settings: "MORF" 30;
    animation: morph 10s linear infinite;
    text-align: center;
}

